<!-- Footer avec menu déroulant, liens et icônes des réseaux sociaux -->
<div class="footer-container">
  <footer class="footer">
    <div class="language-dropdown">
      <select>
        <option value="en">English</option>
        <!-- <option value="fr">Français</option> -->
      </select>
    </div>
    <div class="footer-links">
      <a href="#">Commercial</a>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>
    <div class="social-icons">
      <a href="#">
        <svg-icon
          class="social-icon"
          src="assets/twitter.svg"
          [svgStyle]="{ 'width.vh': 3, 'height.vh': 3 }"
        ></svg-icon>
      </a>
      <a href="#">
        <svg-icon
          class="social-icon"
          src="assets/telegram-app.svg"
          [svgStyle]="{ 'width.vh': 3, 'height.vh': 3 }"
        ></svg-icon>
      </a>
    </div>
  </footer>
</div>
