.switch input {
  display: none;
}

.switch {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 50px;
  height: 20px;
  background: #4d4d4d;
  border-radius: 100px;
  padding: 0 2px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.slider {
  display: flex;
  align-items: center;
  width: 20px;
  height: 15px;
  background: white;
  border-radius: 100px;
  transition: 0.3s;
  border: 1px solid transparent;
  z-index: 1000;
}

.icon {
  display: block;
  position: absolute;
  transition: 0.3s;
}

.sun {
  font-size: small;
  right: 2px;
  opacity: 1;
}

.moon {
  font-size: small;
  left: 2px;
  opacity: 0;
}

.switch:hover .slider,
.switch:focus .slider {
  border: 1px solid #4d4d4d;
  box-shadow: 0 0 2px 3px var(--primary-color);
}

.switch:active .slider {
  box-shadow: 0 0 5px 5px #86d46b;
}

.switch input:checked + .slider {
  transform: translateX(26px);
}

.switch input:checked ~ .moon {
  opacity: 1;
}

.switch input:checked ~ .sun {
  opacity: 0;
}
