mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: var(--text-color);
  opacity: 80%;
  transition: transform 0.3s ease; /* Ajout d'une transition pour l'effet de grossissement et de soulèvement */
}

mat-icon:hover {
  transform: translateY(-3px) translateX(-2px) scale(1.1); /* Déplacement vers le haut et agrandissement lors du survol */
}
