<div class="card-container">
  <div class="card">
    <div class="col-2">
      <div class="grid-container">
        <div class="grid-item"><div class="cards">Tokens Balance</div></div>
        <div class="grid-item"><div class="cards">Liquidity Pools</div></div>
        <div class="grid-item"><div class="cards">NFT</div></div>
        <div class="grid-item"><div class="cards">Airdrops</div></div>
      </div>
    </div>
    <div class="col-1">
      <div class="row-1">
        <h2>Manage all your DeFi investments<span class="dot">.</span></h2>
      </div>
      <div class="row-2">
        <h3>
          We gather all your DeFi investments in one place, making it easier to track,
          manage and invest.
        </h3>
      </div>
      <div class="row-3"><button>DashBoard</button></div>
    </div>
  </div>
</div>
