<app-header></app-header>
<div class="background-container">
  <div class="page-container">
    <div class="content" #content (wheel)="onWheel($event)">
      <div class="horizontal-scroll">
        <div class="page" id="home"><app-home></app-home></div>
        <div class="page" id="feature1"><app-page2></app-page2></div>
        <!-- <div class="page" id="feature2"><app-page3></app-page3></div> -->
        <div class="page" id="about"><app-about></app-about></div>
        <div class="page" id="faq"><app-faq></app-faq></div>
        <div class="page" id="blog"><app-blog></app-blog></div>
        <div class="page" id="contact"><app-contact></app-contact></div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
