<app-header></app-header>
<div class="background-container">
  <div class="page-container">
    <div class="content" #content (wheel)="onWheel($event)">
      <div class="horizontal-scroll">
        <div class="page" id="about">Lorem ipsum...</div>
        <div class="page">Lorem ipsum...</div>
        <div class="page">Lorem ipsum...</div>
        <div class="page">Lorem ipsum...</div>
        <div class="page">Lorem ipsum...</div>
        <div class="page">Lorem ipsum...</div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
