<div class="card-container">
  <div class="card">
    <div class="col-1">
      <div class="row-1">
        <img
          class="logo"
          src="./../../assets/logo_transparent_bg.png"
          alt="logo"
        /><span class="title">DeFi<span class="bean">Bean</span></span>
      </div>
      <div class="row-2">
        <h2>Fuel Your Crypto Journey<span class="dot">.</span></h2>
        <h3>Simplify your DeFi investment with our easy-to-use dashboard.</h3>
      </div>
      <div class="row-3"><button>GET STARTED</button></div>
    </div>
    <div class="col-2">
      <app-card-home></app-card-home>
    </div>
  </div>
</div>
